
#app
  .test-after
    .after
    .after

  .test-after
    .after
    .after

  .test-after2
    .after
    .after

  .test-after2
    .after
    .after

  .test-remove-class.class2.class1
  .test-remove-class.class2.class1

  .test-remove-class2.class2.class1
  .test-remove-class2.class2.class1

  .test-append
  .test-append
  .test-attr
  .test-attr
  .test-empty
    .empty
      .empty2
    .empty1
      .empty12
  .test-show(style='display: none;')